<div class="bg-gray-200 w-1/6">
    <p class="text-xl uppercase pl-10 mt-4">Menu</p>
    <div class="">
        <% if (role === "manufacturer") { %>
            <p class="pl-10 py-4 hover:bg-gray-300 transition-all duration-500">
                <a class="inline-block w-full h-full text-base text-gray-700 font-semibold" href="/register-drug">
                    Product 
                </a>
            </p>
            <p class="pl-10 py-4 hover:bg-gray-300 transition-all duration-500">
                <a class="inline-block w-full h-full text-base text-gray-700 font-semibold" href="/categories">Categories</a>
            </p>
            <p class="pl-10 py-4 hover:bg-gray-300 transition-all duration-500">
                <a class="inline-block w-full h-full text-base text-gray-700 font-semibold" href="/catalog">Catalog</a>
            </p>
        <% } %>
         
            <p class="pl-10 py-4 hover:bg-gray-300 transition-all duration-500">
                <a class="inline-block w-full h-full text-base text-gray-700 font-semibold" href="/exchange-gain">Change Custody</a>
            </p>
        
        <p class="pl-10 py-4 hover:bg-gray-300 transition-all duration-500">
            <a class="inline-block w-full h-full text-base text-gray-700 font-semibold" href="##">Sell</a>
        </p>
    </div>
</div>