<div class="bg-gray-200 flex items-center justify-center" style="height: 5%;"><%# Footer %> 
    <p>
        <span>&copy; copyright 2021</span>
        <span>All rights reserved</span>
        <span class="text-blue-500 font-semibold">James Muhoro Mucheru</span>
    </p>
</div>