<div id="header" class="w-full flex bg-gray-100 h-1/6" style="height: 10%;">
    <div class="w-1/6 flex justify-center items-center">
        <p class="text-3xl font-bold">Authentis</p>
    </div>
    <div class="w-4/6 flex justify-center items-center flex-col">
        <p class="font-bold text-2xl">Supply chain tracker</p>
        <p class="text-sm font-semibold italic"><%= email; %> </p>
    </div>
    <div class="w-1/6 flex justify-start items-center">
        <p class="mr-6 italic font-semibold text-sm"><%= role; %> </p>
        <div class="flex w-4 text-xl">
            <p class="mr-8"><i class="fas fa-bell"></i></p>
            <p class="relative">
                <i id="header-accouunt-icon" class="fas fa-user-circle cursor-pointer px-2"></i>
                <div id="header-account-dropdown" class="absolute w-64 h-64 rounded-md shadow-lg top-16 right-4 bg-white border-b-4 border-purple-500 hidden">
                    <div class="m-auto mt-2 w-24 h-24 rounded-full bg-purple-500 flex items-center justify-center">
                        <p class="text-white text-4xl font-semibold">U</p>
                    </div>
                    <p class="text-center text-gray-400 text-sm mb-8">muhorojames7@gmail.com</p>
                    <p class="text-lg ml-4 mb-2 hover:text-blue-500 transition-all duration-300">
                        <i class="fas fa-cog text-base"></i>
                        <a href="##">account settings</a>
                    </p>
                    <p class="text-lg ml-4 hover:text-blue-500 transition-all duration-300">
                        <i class="fas fa-sign-out-alt text-base"></i>
                        <a class="" href="/logout">Logout</a>
                    </p>
                </div>
            </p>
        </div>
    </div>
</div>