<%- include("./_head.ejs"); %>
    <div class="border-t border-solid border-gray-700">
        <div class="border-b border-grey-400 py-4 mb-8"><%# Header %> 
            <p class="font-bold text-2xl text-center uppercase">Authentis</p>
        </div>
        <div class="border w-96 rounded-md border-gray-600 m-auto mt-12">
            <p class="bg-gray-700 py-2 mb-6 text-center text-white">Create an account</p>
            <div class="px-4">
                <form action="/register" method="POST">
                    <div class="mb-6">
                        <label class="mb-4" for="email">Email</label><br />
                        <input 
                            type="email" 
                            name="email" 
                            id="email"
                            placeholder="eg example@email.com" 
                            class="border-2 border-gray-600 w-full rounded-md py-2 px-4"
                            required
                        >
                    </div>
                    <div class="mb-6">
                        <label class="mb-4" for="name">Name of organisation/business</label><br />
                        <input 
                            type="text" 
                            name="name" 
                            id="name" 
                            placeholder="eg fourtune pharmacy" 
                            class="border-2 border-gray-600 w-full rounded-md py-2 px-4"
                            required
                        >
                    </div>
                    <div class="mb-6">
                        <label class="mb-4" for="password">Enter a password</label><br />
                        <input 
                            type="password" 
                            name="password" 
                            id="password"  
                            class="border-2 border-gray-600 w-full rounded-md py-2 px-4"
                            required
                        >
                    </div>
                    <div class="mb-6">
                        <label for="category">Select type of registration</label>
                        <select 
                            name="category" 
                            class="border-2 border-gray-600 w-full rounded-md py-2 px-4"
                            id="category"
                        >
                            <!-- <option value="1">Select type of registration</option> -->
                            <option value="enduser">Customer</option>
                            <option value="manufacturer">Manufacturer</option>
                            <option value="distributor">Distributor</option>
                            <option value="pharmacy">Pharmacy</option>
                            <option value="hospital">Hospital</option>
                        </select>
                    </div>
                    <button
                        class="bg-blue-400 text-white w-full mb-4 py-2 rounded-md hover:bg-gray-700 transition-all duration-200 ease-linear"
                    >
                        Register
                    </button>
                </form>
            </div>
        </div>
    </div>
<%- include("./_close.ejs"); %> 